.replacement_header_content{
    padding:85px 40px 0px 206px;
    position:relative;
    margin-bottom:34vh;
}
.replacement_content{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 84px;
    color: #050555;
    transform: ease-in;
    animation: textFlow ease-in-out 1s 1;
}
@keyframes textFlow {
    from{
        transform: translate(-920px,40px);
        
    }
    to{
        transform: translate(3px,40px);

    }
}

.replacement_wk img{
    position: absolute;
    top:34%;
    left: 47%;
    height: 70%;
    width: 40%;
    animation: imageFlow 1s ease-out 1;
}
@keyframes imageFlow {
    from{
        transform: translate(920px,0px);
        
    }
    to{
        transform: translate(0px,60px);

    }
}

.content_short{
    width: 37%;
    padding-top: 96px;
}

/* linked company */
.heading_repl_company{
    text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 100;
}
.heading_repl_company:hover{
    text-decoration: underline;
    text-underline-offset: 0.4em;
}
.company_logo{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 20px;
}
.company_logo img{
    height: 152px;
    width: 173px;
    padding: 12px;
}
.replaced_student{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 100;
    padding-top: 144px;
}
.replaced_student:hover{
    text-decoration: underline;
    text-underline-offset: 0.4em;
}
/* replaced card */
.replaced_std_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:5px 34px;
    margin-top: 35px;
    background-color: #050829;

}
.img_replaced_holder{
    width: 20%;
    height: 37vh;
    margin: 0px;
}
.img_replaced_holder img{
    width: 100%;
    height: 100%;
    padding: 5px;
}
/* grid */
.exciting_job_intern{
    height: 580px;
    display: grid;
    column-gap: 14px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px auto;
    justify-content: center;
    justify-content: center;
    grid-template-areas: "head head head"
                          "side cente_contentr right_content";
    padding: 12px 113px;
    background-color: rgb(20%, 18%,47%);

}
.box_job_intern{
    margin: 32px;
}
.exciting_heading{
    grid-area: head;
    text-align: center;
    font-size: 32px;
    width: 50%;
    margin-left: 26%;
    color: whitesmoke;
    padding-top: 33px;
}
.left_content_exciting{
    grid-area: side;
    height: auto;
    color:#d5c1c1;;
}
.center_content_exciting{
    grid-area: cente_contentr;
    height: auto;
    color: #d5c1c1;;
}
.right_exciting{
    grid-area: right_content;
    height: auto;
    color:#d5c1c1;;
}

@media screen and (min-width:200px) and (max-width:461px){
    *{
        overflow-x:clip;
    }
    .exciting_job_intern{
        display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 3% 0px;
    width: 100%;
    }
    .replacement_header_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 30% 0%;
        margin-left: 2%;
      }
      .replacement_content{
        font-size: 43px;
        width: 94%;
        padding: 3% 4%;
        text-align: center;
      }
      .replacement_wk img {
        position: absolute;
        top: 46%;
        left: 51%;
        height: 33%;
        width: 40%;
      }
      .content_short {
        width: 48%;
        padding-top: 31px;
        font-size: 14px;
      }
      .replacement_company{
        margin-top: -23rem;
      }
      .heading_repl_company{
        font-size: 28px;
      }
      .company_logo{
        height: auto;
        width: 100%;;
        padding: 0px;
      }
      .company_logo img{
        padding: 55px;
      }
      .exciting_job_intern{
        display: flex;
        flex-direction: column;
        position: relative;
        height:auto;
      }
      .repo{
        position: relative;
        margin-top: 1%;
      }
      .exciting_heading{
        font-size: 22px;
        width: 91%;
        margin-left: 7%;
      }

      .left_content_exciting {
        height: auto;
        color: #d5c1c1;
        width: 82%;
        text-align: justify;
        margin-top: 0%;
      }
      .center_content_exciting{
        width: 83%;
        text-align: justify;
        margin-top: -3%;
        padding-right: 0%;
      }
      .right_exciting{
        text-align: justify;
        margin-top: 18%;
        margin-top: -3%;
      }
      .replaced_student {
        font-size: 24px;
      }
      .replaced_std_card_container{
        padding:5px 0px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
    }
    .img_replaced_holder{
        width: 33%;
        height: 11vh;
    }
    .img_replaced_holder img{
        padding: 2px;
    }
    .replaced_student{
        display: none;
    }
}